.fixme1 img {
  width: 200px;
  display: block;
}

.fixme2 {
  font-size: 300%;
  display: inline-flex;
}

.fixme2 div {
  padding-right: 15px;
}



.fixme3 {
  background-color: yellow;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: inline-flex;
  
}

.fixme3 li {
  width: 400px;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
